body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

nav.nav_bar li {
    float: left;
}

nav.nav_bar li a {
    display: block;
    text-align: center;
    padding: 12px 30px;
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.nav_bar li a:hover {
    background-color: darkgrey;
}

p {
    max-width: 600px;
    padding: 5px 30px 5px 30px;
    font-size: 16px;
}

p.math {
    max-width: 800px;
    padding: 5px 30px 5px 30px;
    font-size: 16px;
}

p.ht {
    max-width: 1000px;
    padding: 5px 30px 5px 30px;
    font-size: 18px;
}

h2, h3 {
    padding: 5px 30px 5px 30px;
}

dl, ol {
    max-width: 800px;
    padding: 5px 30px 5px 30px;
    font-size: 16px;
}


footer {
    padding-bottom: 20px;
}

.float_right {
    float: right;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.float_right figcaption {
    text-align: center;
    color: dimgrey;
}

.container {
    align-items: center; 
    float: left;
    padding-bottom: 30px;
}

.image {
    float: left;
    padding-left: 100px;
}
